<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Paramètres"
            ng-show="SettingsService.isEnable()"
            ng-click="SettingsService.settingsBtnClick()">
            <md-icon>settings</md-icon>
        </md-button>
        <div flex></div>
        <div ng-include="UserService.templateUrl"></div>
    </div>
</md-toolbar>

<div ng-include="SettingsService.sidenavTemplateUrl"></div>


<md-content flex ng-controller="WorkspacesCtrl">
    <div class="global_container">
        <div class="tabs">
            <div
                class="tab"
                ng-repeat="workspace in WorkspacesService.workspaces"
                ng-click="WorkspacesService.switchWorkspace(workspace)"
                ng-dblclick="workspace.startEditing($event);"
                ng-class="{inactive: workspace != WorkspacesService.currentWorkspace}"
                ng-drop="workspace != WorkspacesService.currentWorkspace"
                style="background-color: {{workspace.bgColor}}">

                <div class="edit" ng-click="editWorkspace($event, $index)" ng-class="{visible: workspace == WorkspacesService.currentWorkspace}">
                    <md-icon md-svg-src="./img/ic_edit_black_24px.svg"></md-icon>
                </div>

                <div class="title">
                    <span ng-hide="workspace.editing">{{workspace.title}}</span>
                    <form ng-submit="workspace.stopEditing()">
                        <input ng-show="workspace.editing" ng-model="workspace.title" ng-blur="workspace.stopEditing()">
                    </form>
                </div>

                <div class="delete" ng-click="deleteWorkspaceClick($event, $index)">
                    <div class="cross"><span></span><span></span></div>
                </div>
            </div>

            <div class="tab add_tab" ng-click="createWorkspaceClick($event)">
                <div class="title">+</div>
            </div>

        </div><!-- End Tabs -->

        <div class="workspace" ng-class="{drag_in_progress:isDragging}"
            style="background-color: {{WorkspacesService.currentWorkspace.bgColor}}">
            <style>
                .column {
                    width : {{WorkspacesService.currentWorkspace.column_width}}% !important;
                }
            </style>

            <div class="column" ng-repeat="column in WorkspacesService.currentWorkspace.widgets" >
                <div ng-repeat="widget in column"
                    ng-drop="true"
                    ng-drop-success="onWorkspaceDrop($parent.$index,$index,$data)"
                    class="column-item">

                    <div class="drop-zone">
                    </div>

                    <ng-widget widget="widget" column="$parent.$index" position="$index"
                        ng-drag="true"
                        ng-drag-start="startDragging(widget)"
                        ng-drag-move="dragging()"
                        ng-drag-stop="stopDragging()"
                        ng-drag-data="{from:'workspace',columnFrom:$parent.$index,positionFrom:$index}"></ng-widget>
                </div>

                <div class="last-column-item" ng-drop="true" ng-drop-success="onWorkspaceDrop($index, getLastPosition($index), $data)">
                    <div class="drop-zone" >
                    </div>
                </div>


            </div>
        </div><!-- End Workspace -->

    </div><!-- End Global container -->
</md-content>

<div class="md-dialog-container fullscreen-loading" ng-show="WorkspacesService.loading || WorkspacesService.failed">
    <md-dialog class="_md-transition-in">
        <md-dialog-content class="md-dialog-content">
           <div class="loading" ng-show="WorkspacesService.loading">
                <md-progress-circular md-mode="indeterminate" class=""></md-progress-circular>
            </div>
            <p>{{WorkspacesService.message}}</p>

        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="WorkspacesService.failed">
            <span flex></span>
            <md-button ng-click="WorkspacesService.unFail()">
                OK
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</div>

<!-- Menu contenant les widgets disponibles -->
<div class="bottom-menu" ng-class="{'visible': isMenuVisible}">
    <div class="floating-btn" ng-drop="isDragging" ng-drop-success="onDeleteDrop($data)" ng-mousemove="onBtnMouseover()">
        <md-button class="md-fab" ng-click="toggleMenu()">
            <md-icon>{{buttonIcon}}</md-icon>
        </md-button>
    </div>


    <div class="available-widgets">
        <div class="available-widget"
           ng-repeat="widget in availableWidgets"
           ng-class="{deletion:widget.deletion}"
           style="background-color:{{widget.color}}"
           ng-drag="true"
           ng-drag-start="startDragging(widget)"
           ng-drag-move="dragging()"
           ng-drag-stop="stopDragging()"
           ng-drag-data="{from:'menu',data:widget}" >
            <p>
                <span ng-if="widget.img_url == null">{{widget.name}}</span>
                <span ng-if="widget.img_url != null"><img src="{{widget.img_url}}"/></span>
            </p>
        </div>
    </div>
</div>
