
<!-- Header -> Settings et User -->
<div class="header">
    <div class="half" ng-include="SettingsService.templateUrl"></div>
    <div class="half" ng-include="UserService.templateUrl"></div>
</div>


<div ng-controller="WorkspacesCtrl">
    <div class="global_container">
        <div class="tabs">
            <div class="tab"
               ng-repeat="workspace in WorkspacesService.workspaces"
               ng-click="WorkspacesService.switchWorkspace(workspace)"
               ng-class="{active: workspace == WorkspacesService.currentWorkspace}"
               ng-drop="workspace != WorkspacesService.currentWorkspace"
               >
                <div class="title">{{workspace.title}}</div>
                <div class="delete" ng-click="WorkspacesService.deleteWorkspace($index)"><div class="cross"><span></span><span></span></div></div>
            </div>
            <div class="tab add_tab" ng-click="showWorkspaceCreator($event)">
                <div class="title">+</div>
            </div>
        </div>
        <div class="workspace" ng-class="{drag_in_progress:isDragging}">
            <style>
                .widget_container {
                    width : {{WorkspacesService.currentWorkspace.column_width}}% !important;
                }
                .row {
                    height: {{WorkspacesService.currentWorkspace.row_height}}% !important;
                }
            </style>
            <div class='row' ng-repeat="row in WorkspacesService.currentWorkspace.emplacements">
                <div class="widget_container"
                   ng-repeat="emplacement in row"
                   ng-drop="emplacement.isEmpty"
                   ng-drop-success="onWorkspaceDrop(emplacement.x,emplacement.y,$data)">

                    <div class="widget"
                        ng-class="{deletion:widget.deletion, reduit:emplacement.isReduced}"
                        ng-show="!emplacement.isEmpty"
                        ng-drag="!emplacement.isEmpty"
                        ng-drag-start="startDragging(emplacement)"
                        ng-drag-move="dragging()"
                        ng-drag-stop="stopDragging()"
                        ng-drag-data="{from:'workspace',xFrom:emplacement.x,yFrom:emplacement.y}"
                        style="background-color:{{emplacement.widget.color}}">

                        <div class="widget-header">
                           <div class="drag_handle" ng-drag-handle>
                                <div class="handle_icon">
                                    <span></span><span></span><span></span>
                                </div>
                            </div>
                            <p class="widget-title">{{emplacement.widget.name}}</p>
                            <div class="restore" ng-hide="!emplacement.isReduced" ng-show="emplacement.isReduced" ng-click="WorkspacesService.restoreWidget(emplacement.x,emplacement.y)"><div class="square"><span></span><span></span><span></span><span></span></div></div>

                            <div class="reduce" ng-hide="emplacement.isReduced" ng-show="!emplacement.isReduced" ng-click="WorkspacesService.reduceWidget(emplacement.x,emplacement.y)"><div class="dash"><span></span></div></div>

                            <div class="delete" ng-click="WorkspacesService.deleteWidget(emplacement.x,emplacement.y)"><div class="cross"><span></span><span></span></div></div>
                        </div>
                        <ng-include src="emplacement.widget.templateUrl" class="widget-content"></ng-include>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="workspace_creator_container" ng-show="isWorkspaceCreatorVisible" ng-click="onWorkspaceCreatorClick($event)">
        <div class="workspace_creator" ng-click="">
            <h4>Nouveau workspace</h4>
            <p><label for="">Titre</label><input type="text" ng-model="workspaceCreator.title"></p>
            <p><label for="">Nombre de colonnes</label><input type="number" ng-model="workspaceCreator.nb_column"></p>
            <p><label for="">Nombre de lignes</label><input type="number" ng-model="workspaceCreator.nb_row"></p>
            <div class="btn_create" ng-click="createNewWorkspace()">
                Créer
            </div>
        </div>
    </div>
</div>


<!-- Menu contenant les widgets disponibles -->
<div class="menu_container" ng-class="{'visible': isMenuVisible}">
    <div class="menu_btn" ng-drop="isDragging" ng-drop-success="onDeleteDrop($data)" ng-mousemove="onBtnMouseover()">
        <a class="btn-floating" ng-click="toggleMenu()"><i class="fa {{buttonIcon}}"></i></a>
    </div>

    <div class="menu_widgets">
        <div class="menu_widget"
           ng-repeat="widget in availableWidgets"
           ng-class="{deletion:widget.deletion}"
           style="background-color:{{widget.color}}"
           ng-drag="true"
           ng-drag-start="startDragging(widget)"
           ng-drag-move="dragging()"
           ng-drag-stop="stopDragging()"
           ng-drag-data="{from:'menu',data:widget}" >
            <p>
                <span ng-if="widget.img_url == null">{{widget.name}}</span>
                <span ng-if="widget.img_url != null"><img src="{{widget.img_url}}"/></span>
            </p>
        </div>
    </div>
</div>
