<div layout="row" layout-wrap>
    <md-input-container class="imput" flex-gt-sm>
        <label>Recherche</label>
        <input ng-change="widget.onChange(AgendaCulturelApiService)" ng-model="widget.searchValue">
    </md-input-container>
</div>

<md-list flex>
    <md-list-item class="ng-3-line" ng-repeat="evenement in widget.evenements | limitTo: 5 track by $index">
        <div class="md-list-item-text" layout="column">
            <a target=_blank href="{{evenement.fields.reservation_site_internet}}" <h3>{{ evenement.fields.nom_generique }}</h3> </a>
            <h4>{{ evenement.fields.dates_affichage_horaires }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ evenement.fields.lieu_nom}} </h4>
            <p ng-hide="widget.isEtendu($index)" ng-click="widget.switchDescription($index)" >{{ evenement.fields.descriptif_court }}</p>
            <p ng-show="widget.isEtendu($index)" ng-click="widget.switchDescription($index)" >{{ evenement.fields.descriptif_long }}</p>
          </div
    </md-list-item>
</md-list>
