<div layout="row" layout-wrap>
    <md-autocomplete flex
       md-selected-item="widget.currentStation"
       md-search-text="widget.params.searchValue"
       md-items="item in VelibApiService.searchPlace(widget.params.searchValue)"
       md-item-text="item.name"
       md-min-length="3"
       md-select-on-match="true"
       md-autoselect="true"
       placeholder="Saisissez la station que vous souhaitez consulter..." >
        <md-item-template>
            <span>{{item.name}}</span>
        </md-item-template>
        <md-not-found>
            Aucun résultat
        </md-not-found>
    </md-autocomplete>
</div>


<div class="loading" ng-show="widget.loading">
    <md-progress-circular md-mode="indeterminate" class="md-warn"></md-progress-circular>
</div>

<div class="info-message" ng-hide="widget.isStationSelected()">
    <p><i class="material-icons">arrow_upward</i> Veuillez saisir une station <i class="material-icons">arrow_upward</i></p>
</div>

<div class="info-message" ng-show="widget.isStationSelected()" >
    <div class="bike-results">
        <div class="container_bike available">
            <i class="fa fa-bicycle fa-4x icon" aria-hidden="true"></i>
            <span class="number">{{widget.currentStation.available_bikes}}</span>
        </div>

        <div class="container_bike unavailable">
            <span class="number">{{widget.currentStation.available_bike_stands}}</span>
            <span class="icon">P</span>
        </div>
    </div>
    <p>Dernière actualisation: {{widget.currentStation.last_update | date : 'HH:mm'}} </p>
</div>
