<div layout="row" ng-if="widget.info != null">
    <div>
        <p class="temperature">
            <i class="wi wi-thermometer"></i> <span class="value">{{(widget.info.main.temp-273.15).toFixed(1)}}</span> <i class="wi wi-celsius"></i>
        </p>
    </div>
    <div flex>
        <p align="center">
            <i class="main-weather {{widget.getIconCode()}}"></i>
        </p>
    </div>
    <div>
        <p class="temperature min">
            <i class="wi wi-direction-down"></i>
            <span class="value">{{(widget.info.main.temp_min-273.15).toFixed(1)}}</span>
            <i class="wi wi-celsius"></i>
            <i class="wi wi-thermometer"></i>
        </p>
        <p class="temperature max">
            <i class="wi wi-direction-up"></i>
            <span class="value">{{(widget.info.main.temp_max-273.15).toFixed(1)}}</span>
            <i class="wi wi-celsius"></i>
            <i class="wi wi-thermometer"></i>
        </p>
    </div>
</div>

<div class="loading" ng-show="widget.info == null">
    <md-progress-circular md-mode="indeterminate" class="md-warn"></md-progress-circular>
</div>
