<div layout="row" class="city-weather-inputs">
    <md-input-container flex >
        <label>Sélectionnez votre ville...</label>
        <md-select ng-model="widget.params.currentCityId" md-on-close="widget.getWeather()"class="md-raised">
            <md-option ng-repeat="city in widget.cities" value="{{city.id}}">
                {{city.name}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-button
        class="md-icon-button"
        ng-click="widget.getWeather()"
        alt="Actualiser"
        aria-label="Actualiser"
        ng-disabled="widget.params.currentCityId == null">
        <md-icon md-svg-src="./img/ic_refresh_white_24px.svg" style="color:white;"></md-icon>
    </md-button>
</div>


<div ng-if="widget.info != null" ng-hide="widget.loading">
    <div layout="row" class="weather-results">
        <div>
            <p class="temperature">
                <i class="wi wi-thermometer"></i> <span class="value">{{(widget.info.main.temp-273.15).toFixed(1)}}</span> <i class="wi wi-celsius"></i>
            </p>
        </div>
        <div flex>
            <p align="center">
                <i class="main-weather {{widget.getIconCode()}}"></i>
            </p>
        </div>
        <div>
            <p class="temperature min">
                <i class="wi wi-direction-down"></i>
                <span class="value">{{(widget.info.main.temp_min-273.15).toFixed(1)}}</span>
                <i class="wi wi-celsius"></i>
                <i class="wi wi-thermometer"></i>
            </p>
            <p class="temperature max">
                <i class="wi wi-direction-up"></i>
                <span class="value">{{(widget.info.main.temp_max-273.15).toFixed(1)}}</span>
                <i class="wi wi-celsius"></i>
                <i class="wi wi-thermometer"></i>
            </p>
        </div>
    </div>
    <p flex class="info-message">Dernière actualisation: {{widget.epochToDate(widget.info.dt) | date: 'HH:mm'}} </p>
</div>

<div class="loading" ng-show="widget.loading">
    <md-progress-circular md-mode="indeterminate" class="md-warn"></md-progress-circular>
</div>
