<div class="widget"
    ng-class="{deletion:widget.deletion, reduit:widget.isReduced}"
    style="background-color:{{widget.color}}">

    <div class="widget-header">
       <div class="drag_handle" ng-drag-handle>
            <div class="handle_icon">
                <span></span><span></span><span></span>
            </div>
        </div>

        <p class="title">{{widget.name}}</p>

        <div class="add" ng-click="showSwitchClick($event,column,position)"><div class="plus"><span></span><span></span></div></div>

        <div class="restore" ng-show="widget.isReduced" ng-click="widget.restore()"><div class="square"><span></span><span></span><span></span><span></span></div></div>

        <div class="reduce" ng-hide="widget.isReduced" ng-click="widget.reduce()"><div class="dash"><span></span></div></div>

        <div class="delete" ng-click="WorkspacesService.deleteWidget(column, position)"><div class="cross"><span></span><span></span></div></div>
    </div>
    <div class="widget-content" ng-include="widget.templateUrl" ng-hide="widget.isReduced"></div>
</div>
